In [54]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [55]:
df = pd.read_excel("stone_paper_scissor_game.xlsx")

In [56]:
df1 = df.copy()

In [57]:
df1

  player_1 player_2  result
0    stone    stone      -1
1    stone    paper       2
2    stone  scissor       1
3    paper    stone       1
4    paper    paper      -1
5    paper  scissor       2
6  scissor    stone       2
7  scissor    paper       1
8  scissor  scissor      -1

In [58]:
df2 = pd.get_dummies(df1[['player_1','player_2']])

In [59]:
df2['result'] = df1['result']

In [60]:
df2

,player_1_paper,player_1_scissor,player_1_stone,player_2_paper,player_2_scissor,player_2_stone,result
0,0,0,1,0,0,1,-1
1,0,0,1,1,0,0,2
2,0,0,1,0,1,0,1
3,1,0,0,0,0,1,1
4,1,0,0,1,0,0,-1
5,1,0,0,0,1,0,2
6,0,1,0,0,0,1,2
7,0,1,0,1,0,0,1
8,0,1,0,0,1,0,-1

In [61]:
df2.columns

Index(['player_1_paper', 'player_1_scissor', 'player_1_stone',
       'player_2_paper', 'player_2_scissor', 'player_2_stone', 'result'],
      dtype='object')

In [62]:
predictor = ['player_1_paper', 'player_1_scissor', 'player_1_stone',
       'player_2_paper', 'player_2_scissor', 'player_2_stone']

target = 'result'

In [63]:
features = df2[predictor]
Target = df2[target]

In [64]:
clf = DecisionTreeClassifier()
clf.fit(features, Target)

DecisionTreeClassifier()

In [65]:
def preprocess_input(player_1, player_2):

   df = pd.DataFrame(columns=['player_1_paper', 'player_1_scissor', 'player_1_stone',
      'player_2_paper', 'player_2_scissor', 'player_2_stone'])

   col_1 = f"player_1_{player_1}"
   col_2 = f"player_2_{player_2}"

   df[col_1] = [1]
   df[col_2] = [1]

   df.fillna(0,inplace=True)

   return df

In [66]:
result = int(clf.predict(preprocess_input("stone","scissor"))[0])
if result != -1:
    print(f"Player {result} wins")
else: 
    print("It is a Tie")

Player 1 wins